[submodule "ext/rapidxml-1.13/src"]
	path = ext/rapidxml-1.13/src
	url = git://github.com/elemel/rapidxml-snapshots.git
[submodule "ext/sdl-1.3.0-5421/src"]
	path = ext/sdl-1.3.0-5421/src
	url = git://github.com/elemel/sdl-snapshots.git
[submodule "ext/box2d-2.2.0-149/src"]
	path = ext/box2d-2.2.0-149/src
	url = git://github.com/elemel/box2d-snapshots.git
[submodule "ext/boost-1.46.0/src"]
	path = ext/boost-1.46.0/src
	url = git://github.com/elemel/boost-svn.git
